.profile-page {
  max-width: 800px;
  margin: 20px auto;
  flex-direction: column;
}

.profile-page__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.profile-page__avatar {
  width: 150px;
  height: 150px;
  padding: 10px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: -75px;
  background-color: #f1f1f1;
  margin-bottom: 5px;
}

.profile-page__username {
  font-size: 2rem;
  margin: 20px 0 0 0;
  text-align: center;
  color: #444;
}

.profile-page__add-video-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007aff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.profile-page__add-video-button:focus,
.profile-page__add-video-button:hover {
  transform: translateY(-2px);
  background-color: #0051a5;
  cursor: pointer;
}

.profile-page__add-video-button svg {
  width: 30px;
  height: 30px;
}

.card {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}